// VERIABLES

// headers
$homeHeading: 64px;
$h1: 56px;
$h2: 48px;
$h3: 24px;
$h4: 20px;
$h5: 14px;
$h6: 12px;

// colors
$yellow: #f2c94c;
$yellowLight: #fcedc6;
$greenTertiary: #eff7f2;
$black: #0b0706;
$primaryText: #1d2130;
$secondaryText: #525560;
$offWhite: #ebf0f9;
$border: #e5e5e5;
$white: #ffffff;
