// WHAT WE DO PAGE

@import "./veriables";
@import "./mixin";

.what-we-do-page {
  display: flex;
  justify-content: space-around;
  width: 1185px;
  height: 385px;
  margin: 75px auto 0 auto;
}

.what-we-do-page__text {
  width: 50%;
}

.what-we-do-page__text p:nth-child(1) {
  @include label-paras;
  margin-bottom: 32px;
}

.what-we-do-page__text h2 {
  @include headings;
  width: 77%;
  margin-bottom: 34px;
}
